<app-map-toggles></app-map-toggles>
<!--<p>-->
<!--map-view works!-->
<!--with id: {{id}}-->
<!--</p>-->

<!--TODO: [cursorStyle]="" caused error "Cannot read property 'getCanvasContainer' of undefined"-->
<!--[cursorStyle]="overFeature ? 'help' : 'pointer'"-->

<mgl-map style="height: 500px; border: solid 1px;"
         [style]="mapStyle"
         [zoom]="mapZoom"
         [center]="mapCenter"
         (load)="onLoad($event)"
         (click)="onClick($event)">
    <mgl-control
        mglNavigation
    ></mgl-control>
    <mgl-control
        mglGeolocate
        [trackUserLocation]="true"
        [showUserLocation]="true"
    ></mgl-control>
    <section *ngFor="let key of (layers | keysOf)">
        <mgl-geojson-source
            id="{{key}}-source"
            [data]="layers[key].collection$ | async"
        ></mgl-geojson-source>
        <mgl-layer
            id="{{key}}-layer"
            source="{{key}}-source"
            type="symbol"
            [layout]="layers[key].layout"
            [paint]="{
                'text-color': '#f16624',
                'text-halo-color': '#fff',
                'text-halo-width': 2
            }"
            (click)="onClick($event)"
            (mouseEnter)="overFeature = true"
            (mouseLeave)="overFeature = false"
        ></mgl-layer>
    </section>
    <mgl-popup
        *ngIf="selectedPoint"
        [lngLat]="selectedPoint.geometry?.coordinates"
    >
        <span [innerHTML]="selectedPoint.properties?.description"></span>
    </mgl-popup>
</mgl-map>


<!--<mgl-geojson-source-->
<!--id="stations"-->
<!--[data]="'assets/stations.geojson'"-->
<!--[cluster]="true"-->
<!--[clusterMaxZoom]="14"-->
<!--[clusterRadius]="50"-->
<!--&gt;</mgl-geojson-source>-->
